@import url('../node_modules/angular-material/angular-material.css');
@import url('../node_modules/angular-material/layouts/angular-material.layouts.css');

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #999;
  stroke-width: .5px;
}
