//div(layout='row', layout-align='end end')
    md-button.md-fab.md-primary(aria-label='Use Android', ng-click='dataviz.configure()')
        md-icon(md-svg-src='img/icons/android.svg')

my-component(ng-if='dataviz.isReady', graph='dataviz.graphData')


