
div(layout='', layout-align='center center', style='margin-left:200px; width:200px')
    md-slider.md-primary( flex='', ng-readonly='!changeDepth', md-discrete, ng-model='graph.step', step='1', min='1', max='10', aria-label='rating')
    {{graph.step}}

.visualize-svg
