
div(layout-wrap, layout-align="row")
    div(layout='', layout-align='center center', style='margin-left:200px; width:600px')
        md-slider.md-primary( flex='', md-discrete, ng-model='graph.step', step='1', min='1', max='10', aria-label='rating')
        | Width
        md-slider.md-primary( flex='', md-discrete, ng-model='graph.width', step='.05', min='0', max='1', aria-label='rating')
        {{graph.step}}
        md-checkbox(ng-model='graph.displayName', aria-label='Display Name', style='margin-left: 50px;')
            | Display name
        md-button.md-primary(ng-click='graph.reset()', md-no-ink) Reset


.visualize-svg
