div(layout='row', style='background-color: #455F64; color: #18FFFF;padding: 10px;')
    div(flex='33', layout='column', style='margin: 0 20px;')
        | Filter
        md-slider.md-warn( flex='', md-discrete, ng-model='graph.step', step='1', min='1', max='10', aria-label='rating')
    div(flex='33', layout='column', style='margin: 0 20px;')
        | Change step
        md-slider.md-warn( flex='', md-discrete, ng-model='graph.width', step='.05', min='0', max='1', aria-label='rating')
    div(flex='11', layout='column', style='margin: 0 20px;')
        | Display name
        md-checkbox(ng-model='graph.displayName', aria-label='Display Name', style='margin-top: 10px')
    div(flex='11', layout='column', style='margin: 0 20px;')
        md-button.md-primary.md-raised(ng-click='graph.apply()', md-no-ink) Apply
    div(flex='11', layout='column', style='margin: 0 20px;')
        md-button.md-raised.md-warn(ng-click='graph.reset()', md-no-ink) Reset
br
div(layout-wrap, layout='row')
    .visualize-svg(flex='75')

    div(flex='25', layout-fill)
        md-list-item.md-3-line.md-long-text(ng-repeat='article in graph.articles')
            .md-list-item-text(layout='column')
                h3(style='white-space:normal')
                    a(target='_blank', href='http://{{article.url}}') {{ article.title }}
                p {{ article.url.split('/')[0] }}
                p {{ article.date | date: 'dd MMM yyyy' }}
